---
const { title, year, location, description, logo, result, collab, sponsor, pictures, links, numPictures} = Astro.props;
---

<div class="max-w-6xl bg-gray-200 dark:bg-gray-700 rounded-2xl justify-between px-8 py-6 cursor-pointer" onclick={`let e = document.getElementById('${title}${year}${location}'); e.hidden = !e.hidden`}>
    <div class="grid gap-6 md:grid-cols-2 center">
        <div>
            {logo ? (
                <div class="space-x-4 flex">
                    <img class="h-16 object-contain rounded-md flex-shrink-0" src={logo} alt={`${title} logo`} />
                    <div>
                        <h1 class="text-2xl">{title} {year}, {location} </h1>
                        {sponsor && (
                            <h3 class="dark:text-gray-400">Sponsored by <strong class="text-gray-700 dark:text-gray-300">{sponsor}</strong></h3>
                        )} 
                    </div>
                </div>
            ) : (
                <div>
                    <h1 class="text-2xl">{title} {year}, {location} </h1>
                    {sponsor && (
                        <h3 class="dark:text-gray-400">Sponsored by <strong class="text-gray-700 dark:text-gray-300">{sponsor}</strong></h3>
                    )}
                </div>
            )}

        </div>
        <div>
            {result && (
                <h1>Result: <strong>{result}</strong> </h1>
            )}
            {collab ? ( <h1>Participation with <strong>{collab}</strong></h1>) : (<h1>Individual participation</h1>)}
        </div>

    </div>        
    <div hidden id=`${title}${year}${location}` class="text-center mt-4">
        {numPictures && (
        <div class="flex justify-center mt-6">
            <div class="w-full overflow-x-auto">
            <div class="flex space-x-4 px-2 py-4 w-max">
                {[...Array(Number(numPictures))].map((_, i) => (
                <img 
                    key={i}
                    class="h-64 w-auto rounded-xl object-cover flex-shrink-0" 
                    src={`/pictures/${year}/${title}_${location}/${i + 1}.jpeg`} 
                    alt={`Picture ${i + 1}`} 
                />
                ))}
            </div>
            </div>
        </div>
        )}

        {description}
        {links !== undefined && ( 
            <h1 class="text-2xl mt-6">Related links:</h1>
            <div class="grid md:grid-cols-2">
                {links.map(link => (
                    <a href={link} target="_blank" class="text-gray-600 dark:text-gray-300 hover:text-blue-500">{new URL(link).hostname}/...</a>
                ))}
            </div>
        )}
    </div>
    <div>

    </div>
</div>