---
const { title, description, tech, link, logo } = Astro.props;
import CardContent from './CardContent.astro';
---

{link ? (
  <a href={link} class="block" target="_blank" rel="noopener noreferrer">
    <CardContent isPublic={true} logo={logo} title={title} description={description} tech={tech} />
  </a>
) : (
  <div class="opacity-90">
    <CardContent isPublic={false} logo={logo} title={title} description={description} tech={tech} />
  </div>
)}

